/* Estilos generales para la página */
.home,
.realTimeProducts,
.addForm {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Encabezados */
h1,
h2 {
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

/* Lista de productos */
.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Tarjetas de producto */
.product-card {
  width: calc(25% - 20px);
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Etiquetas */
.tag {
  font-weight: bold;
  color: #666;
  margin-right: 5px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: center;
}

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de productos en tiempo real */
.realTimeProducts {
  margin-bottom: 30px;
}

.realTimeProductContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.realTimeProductContainer .cart {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.realTimeProductContainer .cart p {
  margin: 5px 0;
}

/* Estilos para la tarjeta de agregar producto */
.addProduct {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm label {
  display: block;
  margin-bottom: 1px;
}

.addForm input[type="text"],
.addForm input[type="number"],
.addForm textarea {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addForm textarea {
  resize: vertical;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.deleteButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffccbc; /* Cambia el color del borde al enfocar */
}

.addForm button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px; /* Espacio opcional arriba del botón */
}

.addForm button:hover {
  background-color: #45a049;
}
